header{
    background-color: rgb(137, 135, 135);
}

h1{
    text-align: center;
    text-transform: uppercase;
    color:rgb(255, 255, 255);
}

h2{
    color: rgb(4, 4, 226);
    text-align: left;
    text-transform: uppercase;
}


main{
    background-color: rgb(139, 137, 137);
}
a{
color: rgb(9, 8, 8);
}