
body{
    background:rgb(131, 128, 128);
    margin:10%;
    font-size:140%;
}

header{
    background:#00b7ea ;
    text-align: center;
    padding-bottom: 15px;
}
h1{
    color:crimson;
}

nav{
    font-variant:small-caps;
    font-family: Arial, Helvetica, sans-serif;
    font-size:120%;
}

/* i tried to add class and id as a attribute */
/* . for class # for id  */

.first_link {
background-color: crimson;
}
#different{
    background-color: violet;
    
}

.list {
    text-transform:lowercase;
    border: 0.5px solid black;
    padding: 10px;
    margin-top: 10px;
   
}
#last_one{
    text-transform: uppercase;
    border: 1px blueviolet solid;
    padding-top: 1px;
    margin-top: 10px;
}


/* new attributes was added by me */


a:hover{
    background-color:springgreen;
}
a:focus{
    background-color: coral;
}
a :active{
background-color: yellow;
}

ul{
    list-style-type: square;
}




h2{
    color:rgb(41, 65, 110);
    background-color:rgb(200, 183, 156);
    padding: 10px;
    margin: 5px;
    border: 3px solid black;
}

section{
    width: 30%;
    margin-right: 2%;
    display: inline-block;
    float: left;
}


summary{
    font-style: normal;
}

details{
    font-style: italic;
}

footer{
    background: rgb(65, 133, 153);
    height: 120px;
    clear: both;
}
img{
    width: 175px;
}